<div id="loading">
  <img src="assets/images/plane.gif" alt="Plane gif."/>
  <div>From {{ data.startingPoint }} to
    <div class="slider">
      <div class="caption">
        <div class="text-box">
          <div style="color: #c55868;">{{ firstRandomValue }}</div>
          <div style="color: #583a94;">{{ secondRandomValue }}</div>
          <div style="color: #316c36;">{{ thirdRandomValue }}</div>
        </div>
      </div>
    </div>
  </div>

  <p>Looking for the best itinerary for you</p>
  <mat-spinner></mat-spinner>
</div>
