version: '3'

services:
  backend:
    build:
      context: ./Project
      dockerfile: Dockerfile
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./Angular-Project
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
