@if (navBarActive) {
  <mat-toolbar class="fixed-toolbar">
    <span><img src="assets/images/logo-1.png" alt="Logo imagine." style="filter: drop-shadow(0 0 0.75rem rgba(65,141,126,0.74));"/></span>

    <span class="example-fill-remaining-space"></span>

    <a id="home-button" href="/home"> <mat-icon>home</mat-icon> <span>Home</span></a>

    <a id="suggest-button" href="/suggest-itinerary"> <mat-icon>flight_takeoff</mat-icon> <span>Suggest new itinerary</span></a>
  </mat-toolbar>

  <div class="content">
    <router-outlet />
  </div>

  <footer>
      <p style="margin-bottom: 5px;">&#169; 2024, RelationTrip. All rights reserved.</p>
      <p style="margin-bottom: 5px;">Contact: contact&#64;relationtrip.com</p>
      <p style="font-size: 0.8em;">Gheorghe Asachi Technical University, Iasi, Romania</p>
  </footer>

} @else {
  <router-outlet />
}
