@if (navBarActive) {
  <mat-toolbar class="fixed-toolbar">
    <span><img src="assets/images/logo-1.png" alt="Logo imagine."/></span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <a id="home-button" href="/home"> <mat-icon>home</mat-icon> <span>Home</span></a>

    <a id="suggest-button" href="/home"> <mat-icon>flight_takeoff</mat-icon> <span>Suggest new vacation</span></a>
  </mat-toolbar>

  <div class="content">
    <router-outlet />
  </div>

  <footer>
    &#169; Copyright 2024, RelationTrip
  </footer>
} @else {
  <router-outlet />
}
