.example-fill-remaining-space {
  flex: 1 1 auto;
}

.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  margin-top: 64px;
}

img {
  width: 80px;
}

a {
  align-items: center;
  display: flex;
  cursor: pointer;
  text-decoration: none;
}

#suggest-button {
  margin-left: 35px;
}

span {
  margin-left: 5px;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
