.example-container {
  background-image: url("../../assets/images/map-with-markers.png");
  background-size: cover;
  height: 90vh;
  width: auto;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

mat-drawer {
  width: 50%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(174, 195, 183, 0.9);
  box-shadow: 0 0 20px 10px rgba(32, 77, 84, 0.78);
}

/*Nu pot sa suprapun*/
.mat-drawer-inner-container {
  overflow: hidden !important;
}

@media screen and (max-width: 870px) {

}

@media screen and (max-width: 755px) {
  mat-drawer {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {

}
