#home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 10px;
}

#user-information {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
  block-size: fit-content;
  width: 100%;
}

#profile-information {
}

#vacations-list {
  height: 580px;
}

#profile-header {
  font-size: 18px;
}

#avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  background-size: cover;
  cursor: pointer;
  width: 70px;
  height: 70px;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#up-content, #down-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

#profile-card {
  display: flex;
  flex-direction: column;
  align-items: stretch
}

.info {
  align-self: flex-start;
  text-align: center;
  width: 250px;
  height: auto;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.label {
  font-weight: bold;
  margin-left: 5px;
}

#description {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}

@media screen and (max-width: 650px) {
  #user-information {
    flex-direction: column;
    margin: 0;
  }

  #home-content {
    margin: 10px;
  }

  .info {
    width: 100%;
    margin: 0;
  }

  .label {
    margin: 0;
  }

  #vacation-image {
    width: 100%;
    height: 250px;
  }

  #profile-information, #vacations-list, #guide-information {
    width: 100%;
    margin-left: 0;
    height: auto;
  }

  #vacations-list {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
