#home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(174, 195, 183, 0.65);
}

#profile-information {
  width: 100%;
  margin-top: 5px;
  background-color: rgba(174, 195, 183, 0.65);
  margin-bottom: 20px;
}

#profile-header {
  align-items: center
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  background-size: cover;
  cursor: pointer;
  width: 110px;
  height: 110px;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.up-down-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

.action-buttons-card {
  background-color: rgba(174, 195, 183, 0.65);
  padding: 5px;
}

.action-buttons {
  cursor: pointer;
  padding: 10px 5px;
}

.action-buttons:hover {
  border-radius: 5px;
  background-color: rgba(65, 141, 126, 0.18);
}

#profile-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 10px;
}

.info {
  align-self: flex-start;
  text-align: center;
  width: 250px;
  height: auto;
  border-bottom: 2px outset var(--dark-blue);
  border-bottom-left-radius: 5px;
  padding: 10px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.label {
  margin-left: 5px;
  color: grey;
}

#description {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}

#username {
  font-size: 25px;
  margin-top: -10px;
  font-weight: bold;
}

.trip-guide-content {
  width: 825px;
  height: 400px;
  background-color: rgba(174, 195, 183, 0.65);
  padding: 0;
  margin: 0;
}

#empty-vacation-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 825px;
  height: 400px;
}

#empty-vacation-list mat-icon {
  color: var(--dark-blue);
  margin-top: 20px;
  transform: scale(2);
  margin-bottom: 20px;
}

#not-empty-vacation-list {
  overflow-y: auto;
  overflow-x: hidden;
}

div.mat-mdc-card-content {
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--very-light-green);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: var(--dark-blue);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-green);
}

#create-new-trip {
  text-decoration: none;
  color: rgba(13, 44, 49, 0.78);
}

#create-new-trip:hover, #logout {
  color: var(--dark-blue);
}

@media screen and (max-width: 870px){
  .trip-guide-content {
    width: 600px;
  }
}

@media screen and (max-width: 670px){
  .trip-guide-content {
    width: 100vw;
    padding: 0;
  }
}

@media screen and (max-width: 650px) {
  #user-information {
    flex-direction: column;
    margin: 0;
  }

  .info {
    width: 100%;
    margin: 0;
  }

  .label {
    margin: 0;
  }

  #profile-card {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
  }
}
