#home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(174, 195, 183, 0.65);
}

#profile-information {
  width: 100%;
  margin-top: 5px;
  background-color: rgba(174, 195, 183, 0.65);
  margin-bottom: 20px;
}

#profile-header {
  align-items: center
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  background-size: cover;
  cursor: pointer;
  width: 110px;
  height: 110px;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.up-down-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

.action-buttons-card {
  background-color: rgba(174, 195, 183, 0.65);
  padding: 5px;
}

.mdc-list {
  padding: 0;
}

.action-buttons {
  cursor: pointer;
  padding: 10px 5px;
}

.action-buttons:hover {
  border-radius: 5px;
  background-color: rgba(65, 141, 126, 0.18);
}

#profile-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 10px;
}

.info {
  align-self: flex-start;
  text-align: center;
  width: 250px;
  height: auto;
  border-bottom: 2px outset var(--dark-blue);
  border-bottom-left-radius: 5px;
  padding: 10px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.label {
  margin-left: 5px;
  color: grey;
}

#description {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}

#username {
  font-size: 25px;
  margin-top: -10px;
  font-weight: bold;
}

.trip-guide-content {
  width: 825px;
  height: 320px;
  background-color: rgba(174, 195, 183, 0.65);
  padding: 0;
  margin: 0;
}

#empty-vacation-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 400px;
}

#empty-vacation-list mat-icon {
  color: var(--dark-blue);
  margin-top: 20px;
  transform: scale(2);
  margin-bottom: 20px;
}

div.mat-mdc-card-content {
  padding: 0;
}

#create-new-trip {
  text-decoration: none;
  color: rgba(13, 44, 49, 0.78);
}

#create-new-trip:hover, #logout {
  color: var(--dark-blue);
}

#selected-vacation {
  cursor: pointer;
  transition: background 0.3s;;
}

#selected-vacation:active {
  background-color: rgba(65, 141, 126, 0.32);
  border-radius: 10px;
}

#ticket, #destination {
  display: flex;
  flex-direction: row;
}

#ticket {
  align-items: center;
  justify-content: space-evenly;
  background-image: url("/assets/images/airplane-wing.png");
  background-repeat: no-repeat;
}

.destination-text, #ticket-informations {
  display: flex;
  flex-direction: column;
}

#destination {
  gap: 10px;
}

#ticket-information {
  align-items: stretch;
}

#first-class {
  font-size: 20px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  align-self: center;
}

#barcode, #ticket-image {
  align-self: center;
}

#ticket-image {
  border-radius: 5px;
}

#vertical-line {
  height: 300px;
}

#additional-information {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#ticket-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

mat-expansion-panel-header {
  background-color: rgba(12, 93, 105, 0.09);
  text-align: left;
}

mat-expansion-panel {
  background-color: rgba(65, 141, 126, 0.39);
  margin-bottom: 3px;
  text-align: justify;
}

p {
  text-indent: 2em;
}

@media screen and (max-width: 870px){
  .trip-guide-content {
    width: 600px;
  }

  #vertical-line {
    display: none;
  }

  #additional-information {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: -30px;
    justify-content: center
  }

  #first-class {
    writing-mode: horizontal-tb;
  }

  #barcode {
    transform: rotate(90deg);
    height: 80px;
    width: 40px;
  }

  #ticket-content {
    display: flex;
    flex-direction: column;
  }

  #ticket-image {
    height: 260px;
    width: 260px;
  }
}

@media screen and (max-width: 670px){
  .trip-guide-content {
    width: 100vw;
    padding: 0;
  }

  .destination-text {
    width: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 650px) {
  #user-information {
    flex-direction: column;
    margin: 0;
  }

  .info {
    width: 100%;
    margin: 0;
  }

  .label {
    margin: 0;
  }

  #profile-card {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
  }

  #ticket {
    flex-direction: column;
  }

  #ticket-image {
    width: 97%;
  }

  .trip-guide-content {
    height: auto;
  }

  mat-panel-description {
    font-size: 13px;
  }

  mat-panel-title {
    font-size: 14px;
  }
}
