body {
  margin: 0;
}

#register-content {
  background-image: url("../assets/images/register-image-1.jpg");
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#left-logo {
  position: absolute;
  z-index: 0;
}

#left-logo img {
  width: 40%;
  top: 0;
  left: 0;
}

#right-content {
  width: 60vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(174, 195, 183, 0.53);
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 5px;
}

#register-form {
  display: flex;
  flex-direction: column;
}

mat-form-field{
  align-self: center;
  width: 160%;
  font-size: 13px;
}

mat-card-title mat-form-field input {
  text-align: center;
}

mat-card-title {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 25px;
  font-size: 40px;
  color: var(--dark-blue);
  font-weight: bold;
}

button {
  margin-top: 20px;
  height: 70px;
  font-weight: bold;
  color: var(--very-light-green);
  border-radius: 50px;
}

div.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(174, 195, 183, 0.82);
  box-shadow: -0px 0 6px var(--dark-blue);
}

button.mat-mdc-raised-button, button.mat-mdc-raised-button.mat-primary {
  color: var(--very-light-green);
  border-radius: 60px;
  height: 45px;
  font-size: 17px;
  font-weight: bold;
}

a:hover {
  color: var(--dark-brown);
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  #right-content {
    width: 100%;
    height: 100%;
    background-color: rgba(174, 195, 183, 0.4);
  }
}
