<div id="left-logo">
  <img src="assets/images/logo-3.png" alt="Logo image."/>
</div>
<div id="register-content" style="z-index: -1">
  <div id="right-content">
      <mat-card-title>Create an account</mat-card-title>
      <form id="register-form">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="trip.24" [formControl]="username" required>
          @if (username.invalid) {
            <mat-error>{{getUsernameErrorMessage()}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Location</mat-label>
          <input matInput placeholder="Iasi, Romania" [formControl]="location" required>
          @if (location.invalid) {
            <mat-error>{{getLocationErrorMessage()}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field color="primary">
          <mat-label>Year of birth</mat-label>
          <input matInput [matDatepicker]="dp" placeholder="2001" [formControl]="yearOfBirth" readonly>
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (yearSelected)="setYear($event, dp)"
                          panelClass="">
          </mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select [formControl]="gender">
            <mat-option value="one">Male</mat-option>
            <mat-option value="two">Female</mat-option>
            <mat-option value="three">Other</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="RelationTrip@example.com" [formControl]="email">
          @if (email.invalid) {
            <mat-error>{{getEmailErrorMessage()}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="*******" [formControl]="password"  type="password" required>
          @if (email.invalid) {
            <mat-error>{{getPasswordErrorMessage()}}</mat-error>
          }
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="add()">Submit</button>
      </form>
    <p>Already have an account? <a>Log in</a></p>
  </div>
</div>
