:root {
  --dark-blue: #0c5d69;
  --light-green: #418d7e;
  --very-light-green: rgb(174, 195, 183);
  --light-brown: #80693c;
  --dark-brown: #5a4410;
}

body {
  font-family: Monaco, "Monaco", monospace;
  margin: 0;
  padding: 0;
  background-color: #0c5d69;
}
